body{
  font-family: Arial, Helvetica, sans-serif; 
  background-color: rgb(24 53 109);
}
p{
color: white;
font-weight: bold;
font-size: 30px;

}
hr{
height: 4px;
border: none;
background-color: white;

}
p:active{
transform: scale(1.2)
}
.container{
margin: 50px auto;
width: 800px;
text-align: center
}

button{
border: 5px solid white;
border-radius: 20px;
font-size: 30px;
color: white;
background-color: rgb(24 53 109);
}

button:hover{
background-color: rgb(47 89 72);
}
button:active{
transform: scale(0.9)
}